{% extends "base.html" %} {% block title %} Manage Library {% endblock %} {%
block content %}
<h1 id="heading1">Manage Library</h1>


<table class="books-table">
  <tr class="table-headers">
    <th>Merit Badge</th>
    <th>Checked Out To</th>
    <th>Check In</th>
  </tr>
  {% for book in checked_out_books %}
  <tr class="table-row">
    <td class="table-cell">
      {{book.title}} {% if book.is_eagle_required %}
      <span class="flag eaglereq" data-flag="Eagle Required"
        ><i class="fa-solid fa-feather-pointed"></i
      ></span>
      {% endif %} {% if not book.is_up_to_date %}
      <span class="flag indate" data-flag="Out of Date"
        ><i class="fa-solid fa-clock-rotate-left"></i
      ></span>
      {% endif %}
    </td>

    <td class="table-cell">{{ book.checked_out_to }}</td>
    <td class="table-cell">
      <a onclick="checkInBook({{book.id}})"> Check In </a>
    </td>
  </tr>
  {% endfor %}
</table>
<br />

<div id="modal">
  <div class="modal-content">
    <span id="book"></span> <br />
    <label for="name">Name:</label>
    <input id="name" type="text" /> <br />
    <button class="modal-cancel" onclick="closeModal()">Cancel</button>
    <button class="modal-submit" onclick="checkOutBook()">Check Out</button>
  </div>
</div>

<a href="/add-book"> &plus; </a>
{% endblock %}
