{% extends "base.html" %} {% block title %} Troop Library {% endblock %} {%
block content %}
<h1 id="heading1">Troop 5 Library</h1>

<table class="books-table">
  <tr class="table-headers">
    <th>Merit Badge</th>
    <th>Available</th>
    <th>Check Out</th>
    <th>Counselors</th>
  </tr>
  {% for book in books %}
  <tr class="table-row">
    <td class="table-cell">
      {{book.title}} {% if book.is_eagle_required %}
      <span class="flag eaglereq" data-flag="Eagle Required"
        ><i class="fa-solid fa-feather-pointed"></i
      ></span>
      {% endif %} {% if not book.is_up_to_date %}
      <span class="flag indate" data-flag="Out of Date"
        ><i class="fa-solid fa-clock-rotate-left"></i
      ></span>
      {% endif %}
    </td>

    <td class="table-cell">
      {% if book.is_checked_out %} &times; {% else %} &check; {% endif %}
    </td>
    <td class="table-cell">
      {% if book.is_checked_out %}
      <span class="link-disabled" aria-disabled> Check Out </span>
      {% else %}
        <a onclick="openModal({{book.id}}, '{{book.title}}')"> Check Out </a>
      {% endif %}
    </td>
    <td class="table-cell">
      <a href="mailto:scoutmaster@troop5.us"> Get a Counselor</a>
    </td>
  </tr>
  {% endfor %}
</table>
<br />

<div id="modal">
  <div class="modal-content">
    <span id="book"></span> <br />
    <label for="name">Name:</label>
    <input id="name" type="text" /> <br/>
    <button class="modal-cancel" onclick="closeModal()">Cancel</button>
    <button class="modal-submit" onclick=checkOutBook()>Check Out</button>
  </div>
</div>

<a href="/libauth">Librarian</a>
{% endblock %}
